apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
      protocol: TCP
      name: mysql
  selector:
    app: mysql
---
# 如果需要从集群外部访问，可以使用 NodePort
# apiVersion: v1
# kind: Service
# metadata:
#   name: mysql-nodeport
#   labels:
#     app: mysql
# spec:
#   type: NodePort
#   ports:
#     - port: 3306
#       targetPort: 3306
#       nodePort: 30306
#       protocol: TCP
#       name: mysql
#   selector:
#     app: mysql
